<ion-header class="ion-no-border" translucent>
    <ion-toolbar style="background: black;" color="dark">
        <ion-buttons slot="start">
            <ion-button (click)="mostrarPop($event)">
                <ion-icon style="font-size: xx-large;" name="menu"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-img class="iconMarzhalId" id="icon" src="/assets/img/marzhalId.PNG"></ion-img>
        <ion-buttons slot="end">
            <ion-img class="iconMarzhalId" id="dIcon" src="/assets/img/D.PNG"></ion-img>
        </ion-buttons>
    </ion-toolbar>
</ion-header>