<ion-content color="dark">
    <img src="/assets/img/D2.PNG" alt="" class="center">
    <img src="/assets/img/marzhalId2.PNG" alt="" class="center" id="title">

    <ion-list>
        <ion-item color="dark">
            <ion-input type="text" [(ngModel)]="usuario"></ion-input>
        </ion-item>
        <b>usuario</b>
        <ion-item color="dark">
            <ion-input type="password" [(ngModel)]="contrasena"></ion-input>
        </ion-item>
        <b>contraseña</b>
    </ion-list>
    <ion-list id="buttons">
        <ion-buttons>
            <ion-button (click)="onGenerator()">
                <b id="access">acceder</b>
            </ion-button>
        </ion-buttons>
        <ion-buttons>
            <ion-button id="buttonSub" (click)="Onsubcribe()">
                <b id="subscribe">subscribir</b>
            </ion-button>
        </ion-buttons>
    </ion-list>
    <h6 id="bottom">CYBERSECURITY EXPERTS</h6>
</ion-content>