<ion-list color="dark">
    <ion-item color="dark" (click)="onGenerator()">
        <ion-label>
            <h6>GENERADOR</h6>
        </ion-label>
    </ion-item>
    <ion-item color="dark" (click)="onAlert()">
        <ion-label>
            <H6>ALERTA</H6>
        </ion-label>
    </ion-item>
    <ion-item color="dark" (click)="onClick()">
        <ion-label>
            <H6>CONFIGURACION</H6>
        </ion-label>
    </ion-item>
    <ion-item color="dark">
        <ion-label></ion-label>
    </ion-item>
    <ion-item color="dark" (click)="onLogin()">
        <ion-label>
            <H6>SALIR</H6>
        </ion-label>
    </ion-item>
</ion-list>